<div class="inbox">
  <div class="inbox-body" style="background-color: white;padding: 20px;">
    <div class="inbox-content" style="">
      <form class="inbox-compose form-horizontal" id="fileupload" action="#" method="POST"
            enctype="multipart/form-data">
        <div class="inbox-form-group mail-to">
          <label class="control-label">For Review & Approval:</label>
          <div class="controls controls-to">
            <ng-select
              [items]="multiSelect"
              (change)="onReviewAndApprovalChange($event)"
              [multiple]="true"
              bindLabel="label"
              bindValue="value"
              placeholder="">
            </ng-select>
          </div>
          <label class="control-label">For Reference:</label>
          <div class="controls controls-cc">
            <ng-select
              [items]="multiSelect"
              (change)="onReferenceChange($event)"
              [multiple]="true"
              [addTag]="true"
              bindLabel="label"
              bindValue="value"
              placeholder="">
            </ng-select>
          </div>
          <br>
          <div class="inbox-form-group">
            <label class="control-label">Subject:</label>
            <div class="controls">
              <input type="text" class="form-control" name="subject" [(ngModel)]="emailData.Subject"></div>
          </div>
          <br>
          <div class="inbox-form-group">
            <ckeditor
              [(ngModel)]="emailData.Message"
              name="emailData"
              [readonly]="false"
              debounce="500">
            </ckeditor>
          </div>
          <br>
          <div class="inbox-compose-attachment">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <label for="files" class="btn green btn-outline fileinput-button">
              <i class="fa fa-plus"></i>
              <span>Add files... </span>
              <input type="file" name="files[]" multiple="" class="hidden" id="files" (change)="onClickUploadDocument($event)"> </label>

            <label for="filesWorkPack" class="btn green btn-outline fileinput-button">
              <i class="fa fa-plus"></i>
              <a data-toggle="modal" href="#myModal" style="text-decoration: none;" class="workpack-modal">Add files From WorkPack... </a>
            </label>

            <table cellpadding="4" class="grid" >
              <!--<th>Document ID</th><th>Document Type</th><th>Source</th>
              <th>Document Date</th><th>Trip ID</th><th>Notes</th><th>Action</th>-->
              <!--<thead><tr><th></th><th>File Name</th></tr></thead>-->
              <tbody *ngFor="let file of files">
              <tr >
                <!--<td class="form-group"><input type="checkbox" [checked]="checked"></td>-->
                <td class="form-group"><strong>{{file.name}}</strong></td>
                <td class="form-group">
                  <a (click)="remove(file)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>
              </tr>

              </tbody>

            </table>
            <!-- The table listing the files available for upload/download -->

            <table role="presentation" class="table table-striped margin-top-10">
              <tbody class="files"></tbody>
            </table>
          </div>
          <script id="template-upload" type="text/x-tmpl"> {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="name" width="30%">
                <span>{%=file.name%}</span>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td> {% if (file.error) { %}
            <td class="error" width="20%" colspan="2">
                <span class="label label-danger">Error</span> {%=file.error%}</td> {% } else if (o.files.valid && !i) { %}
            <td>
                <p class="size">{%=o.formatFileSize(file.size)%}</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </td> {% } else { %}
            <td colspan="2"></td> {% } %}
            <td class="cancel" width="10%" align="right">{% if (!i) { %}
                <button class="btn btn-sm red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button> {% } %}</td>
        </tr> {% } %}


          </script>
          <!-- The template to display files available for download -->
          <script id="template-download" type="text/x-tmpl"> {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade"> {% if (file.error) { %}
            <td class="name" width="30%">
                <span>{%=file.name%}</span>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td class="error" width="30%" colspan="2">
                <span class="label label-danger">Error</span> {%=file.error%}</td> {% } else { %}
            <td class="name" width="30%">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td colspan="2"></td> {% } %}
            <td class="delete" width="10%" align="right">
                <button class="btn default btn-sm" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" {% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr> {% } %}


          </script>
          <div class="inbox-compose-btn">
            <button class="btn green" (click)="postData()">
              <i class="fa fa-check"></i>Send
            </button>
            <button class="btn default">Discard</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade draggable-modal ui-draggable in ui-draggable-dragging" id="myModal" role="basic"
     aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ui-draggable-handle" draggable="true">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Add files from Webpack</strong>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="control-label">Select Project</label>

            <select class="form-control" [(ngModel)]="selectedProject">
              <option value="Select" disabled [selected]="selectedProject==''">Select...</option>
              <option *ngFor="let deliverable of popUpData.projects" [ngValue]="selectedProject"
                      [selected]="selectedProject == deliverable">
                {{deliverable}}
              </option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">Select Task</label>

            <select class="form-control" [(ngModel)]="selectedTask">
              <option value="Select" disabled [selected]="selectedTask == ''">Select...</option>
              <option *ngFor="let deliverable of popUpData.tasks" [ngValue]="selectedTask"
                      [selected]="selectedTask == deliverable">
                {{deliverable}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="control-label">Select Folder</label>

            <select class="form-control" [(ngModel)]="selectedFolder">
              <option value="Select" disabled [selected]="selectedFolder == ''">Select...</option>
              <option *ngFor="let folder of popUpData.folders" [ngValue]="selectedFolder"
                      [selected]="selectedFolder == folder">
                {{folder}}
              </option>
            </select>
          </div>
        </div>
        <!--File List-->
        <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
            <div class="row">
              <div class="caption col-sm-3">
                <span class="caption-subject font-red sbold uppercase">File List</span>
              </div>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
              <table class="table table-hover table-light">
                <thead class="fixed-header">
                <tr class="uppercase">
                  <th class="col-sm-2 dashboard-heading">Select</th>
                  <th class="col-sm-4 dashboard-heading">File Name</th>
                  <th class="col-sm-3 dashboard-heading">File Size</th>
                </tr>
                </thead>
                <tbody class="dashboard-table-body">
                <tr *ngFor="let gridData of fileData">
                  <td class="col-sm-2">
                    <input type="checkbox" [(ngModel)]="gridData.checked" [name]="gridData.id">
                  </td>
                  <td class="col-sm-4">{{gridData.fileName}}</td>
                  <td class="col-sm-3">{{gridData.fileSize}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--End of File List-->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "insertIntoMailBox()">Insert into MailBox</button>
      </div>
    </div>
  </div>
</div>
