<div *ngIf="!userProfileData">No Data Found</div>
<div class="profile-sidebar" *ngIf="userProfileData">
  <div class="portlet light profile-sidebar-portlet bordered">
    <div class="profile-userpic">
      <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""></div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name"> {{userPersonalDetails[0].Fullname}}</div>
      <div class="profile-usertitle-job"> {{userPersonalDetails[0].DesignationName}}</div>
      <div class="profile-usertitle-job" style="text-transform: none;text-align: left;margin-left: 15px;">
        {{userPersonalDetails[0].EmailID1}}
      </div>
      <div class="profile-usertitle-job" style="text-align: left;margin-left: 15px;">
        {{userPersonalDetails[0].Location}}
      </div>
    </div>
    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a href="javascript:void(0)" (click)="overview()">
            <i class="icon-home"></i> Public Profile </a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="manageAccount()">
            <i class="icon-settings"></i> Manage Profile and Account </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="profile-content" *ngIf="showUserProfile">
  <div class="row">
    <div class="col-md-6">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Experience Summary</span>
            <span class="caption-helper hide">weekly stats...</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th> Company</th>
                <th> From</th>
                <th> To</th>
                <th> Designation</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let experience of experienceSummary | filter: experienceSearchString">
                <td> {{experience.CompanyName}}</td>
                <td> {{experience.DurationFrom}}</td>
                <td> {{experience.DurationTo}}</td>
                <td> {{experience.Designation?experience.Designation:'N/A'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Skills</span>
          </div>
        </div>
        <div class="portlet-body">
          <div *ngFor="let skill of skillSummary">
            <div class="row">
              <label class="col-sm-4 right">Skills: </label>
              <label class="col-sm-8">{{skill.Skills}}</label>
            </div>

            <div class="row">
              <label class="col-sm-4 right">Experience: </label>
              <label class="col-sm-8">{{skill.ExperienceInMonth?skill [0].ExperienceInMonth:
                'N/A'}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Technologies</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th> Technology</th>
                <th> Level</th>
                <th> Year(s)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let technology of technologySummary">
                <td> {{technology.Technology}}</td>
                <td> {{technology.Level}}</td>
                <td> {{technology.NoOFYears}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="profile-content" *ngIf="showUserProfile">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <div class="mt-element-list">
        <div class="mt-list-head list-default green-haze">
          <div class="row">
            <div class="col-xs-8">
              <div class="list-head-title-container">
                <h3 class="list-title uppercase sbold">On Going Projects</h3>
              </div>
            </div>
            <div class="col-xs-4" style="text-align: right;">
              <div id="sample_1_filter" class="dataTables_filter"><label>Search: <input type="search" placeholder=""
                                                                                        class="form-control input-sm input-small input-inline"
                                                                                        [(ngModel)]="searchString"
                                                                                        aria-controls="sample_1"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-list-container list-default">
          <div class="mt-list-title uppercase">My List
          </div>
          <ul>
            <li class="mt-list-item" *ngFor="let listData of onGoingProjectDetails| filter: searchString;">
              <div class="list-icon-container done">
                <a href="javascript:void(0)">
                  <i class="icon-check"></i>
                </a>
              </div>
              <div class="list-datetime" style="width:240px;text-align: left;"> Start Date:
                {{listData.ProjectStartDate}}
                <br> End Date: {{listData.ProjectEndDate}}
              </div>
              <div class="list-item-content">
                <h3 class="uppercase bold">
                  <a href="javascript:void(0)">{{listData.ProjectCode}}-{{listData.ProjectName}}</a>
                </h3>
                <p>{{listData.ProjectDescription}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="profile-content" *ngIf="userProfileData && showManageAccount">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Manage Account</span>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
            </li>
            <li>
              <a href="#tab_1_2" data-toggle="tab">Profile Image</a>
            </li>
            <li>
              <a href="#tab_1_3" data-toggle="tab">Change Password</a>
            </li>
            <li>
              <a href="#tab_1_4" data-toggle="tab">Email Integration</a>
            </li>
          </ul>
        </div>
        <div class="portlet-body">
          <div class="tab-content">
            <!-- PERSONAL INFO TAB -->
            <div class="tab-pane active" id="tab_1_1">
              <form role="form" action="#">
                <div class="form-group">
                  <label class="control-label">Location</label>
                  <input type="text" placeholder="Location" class="form-control"
                         [(ngModel)]="userPersonalDetails[0].Location" name="location"></div>
                <div class="form-group">
                  <label class="control-label">Skills</label>
                  <textarea class="form-control" placeholder="Skills" [(ngModel)]='skillSummary[0].Skills' name="skills"
                            rows="3" cols="120">
                  </textarea></div>
                <div class="form-group">
                  <label class="control-label">Technology</label>
                  <textarea class="form-control" placeholder="Technology" [(ngModel)]='technologySummary[0].Technology'
                            name="technology" rows="3" cols="120"></textarea></div>
                <div class="form-group">
                  <label class="control-label">Experience Summary</label>
                  <textarea class="form-control" placeholder="Technology" [(ngModel)]='experienceSummaryContext'
                            name="experienceSummary" rows="3" cols="120"></textarea></div>

                <div class="margiv-top-10">
                  <a href="javascript:void(0)" class="btn green"
                     (click)="postPersonalInfo(userPersonalDetails[0].Location,skillSummary[0].Skills,technologySummary[0].Technology,experienceSummaryContext)">
                    Save Changes </a>
                  <a href="javascript:void(0)" class="btn default"> Cancel </a>
                </div>
                <span *ngIf="personalInfoMessage && personalInfoMessage?.Message == 'Successful'">{{personalInfoMessage?.Message}}</span>
              </form>
            </div>
            <!-- END PERSONAL INFO TAB -->
            <!-- CHANGE Image TAB -->
            <div class="tab-pane" id="tab_1_2">
              <form action="#" role="form">
                <div class="form-group">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                      <img [src]="logo" alt="thumbnail"></div>
                    <div class="fileinput-preview fileinput-exists thumbnail"
                         style="max-width: 200px; max-height: 150px;"></div>
                    <div>
                      <label class="btn default btn-file" for="files">
                                                                            <span
                                                                              class="fileinput-new"> Select image </span>
                        <input type="file" id="files" class="hidden" name="..." (change)="onFileChange($event)">
                      </label>
                      <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                    </div>
                  </div>
                  <div class="clearfix margin-top-10">
                    <span class="label label-danger">NOTE! </span>
                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                  </div>
                </div>
                <div class="margin-top-10">
                  <a href="javascript:;" class="btn green"> Submit </a>
                  <a href="javascript:;" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END CHANGE AVATAR TAB -->
            <!-- CHANGE PASSWORD TAB -->
            <div class="tab-pane" id="tab_1_3">
              <form action="#">
                <div class="form-group">
                  <label class="control-label">Current Password</label>
                  <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword"></div>
                <div class="form-group">
                  <label class="control-label">New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword"></div>
                <div class="form-group">
                  <label class="control-label">Re-type New Password</label>
                  <input type="password" class="form-control" [(ngModel)]="retypePassword" name="retypePassword"></div>
                <div class="margin-top-10">
                  <a href="javascript:void(0)" class="btn green"
                     (click)="changePassword(oldPassword, newPassword, retypePassword)"> Change Password </a>
                  <a href="javascript:void(0)" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END CHANGE PASSWORD TAB -->
            <!-- PRIVACY SETTINGS TAB -->
            <div class="tab-pane" id="tab_1_4">
              <form action="#">
                <table class="table table-light table-hover">
                  <tbody>
                  <tr>
                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..</td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios1" value="option1"> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios1" value="option2" checked=""> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios11" value="option1"> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios11" value="option2" checked=""> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios21" value="option1"> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios21" value="option2" checked=""> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
                    <td>
                      <div class="mt-radio-inline">
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios31" value="option1"> Yes
                          <span></span>
                        </label>
                        <label class="mt-radio">
                          <input type="radio" name="optionsRadios31" value="option2" checked=""> No
                          <span></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--end profile-settings-->
                <div class="margin-top-10">
                  <a href="javascript:;" class="btn red"> Save Changes </a>
                  <a href="javascript:;" class="btn default"> Cancel </a>
                </div>
              </form>
            </div>
            <!-- END PRIVACY SETTINGS TAB -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
