<!-- BEGIN PROFILE SIDEBAR -->
<div *ngIf="!userProfileData">No Data Found</div>
<div class="profile-sidebar" *ngIf="userProfileData">
  <!-- PORTLET MAIN -->
  <div class="portlet light profile-sidebar-portlet bordered">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
      <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""></div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
      <div class="profile-usertitle-name"> {{userPersonalDetails[0].Fullname}}</div>
      <div class="profile-usertitle-job"> {{userPersonalDetails[0].DesignationName}}</div>
      <div class="profile-usertitle-job" style="text-transform: none;text-align: left;margin-left: 15px;">
        {{userPersonalDetails[0].EmailID1}}
      </div>
      <div class="profile-usertitle-job" style="text-align: left;margin-left: 15px;">
        {{userPersonalDetails[0].Location}}
      </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <!--<div class="profile-userbuttons">
      <button type="button" class="btn btn-circle green btn-sm">Follow</button>
      <button type="button" class="btn btn-circle red btn-sm">Message</button>
    </div>-->
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ul class="nav">
        <li class="active">
          <a href="page_user_profile_1.html">
            <i class="icon-home"></i> Public Profile </a>
        </li>
        <li>
          <a href="page_user_profile_1_account.html">
            <i class="icon-settings"></i> Manage Profile and Account </a>
        </li>
      </ul>
    </div>
    <!-- END MENU -->
  </div>
  <!-- END PORTLET MAIN -->
  <!-- PORTLET MAIN -->
  <!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
  <div class="row">
    <div class="col-md-6">
      <!-- BEGIN PORTLET -->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption caption-md">
            <i class="icon-bar-chart theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Experience Summary</span>
            <span class="caption-helper hide">weekly stats...</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th> Company</th>
                <th> From</th>
                <th> To</th>
                <th> Designation</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let experience of experienceSummary | filter: experienceSearchString">
                <td> {{experience.CompanyName}}</td>
                <td> {{experience.DurationFrom}}</td>
                <td> {{experience.DurationTo}}</td>
                <td> {{experience.Designation?experience.Designation:'N/A'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END PORTLET -->
    </div>
    <div class="col-md-6">
      <!-- BEGIN PORTLET -->
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Skills</span>
          </div>
        </div>
        <div class="portlet-body">
          <div *ngFor="let skill of skillSummary">
            <div class="row">
              <label class="col-sm-4 right">Skills: </label>
              <label class="col-sm-8">{{skill.Skills}}</label>
            </div>

            <div class="row">
              <label class="col-sm-4 right">Experience: </label>
              <label class="col-sm-8">{{skill.ExperienceInMonth?skill [0].ExperienceInMonth:
                'N/A'}}</label>
            </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET -->
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Technologies</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
              <thead>
              <tr class="uppercase">
                <th> Technology</th>
                <th> Level</th>
                <th> Year(s)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let technology of technologySummary">
                <td> {{technology.Technology}}</td>
                <td> {{technology.Level}}</td>
                <td> {{technology.NoOFYears}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PROFILE CONTENT -->
<div class="profile-content">
  <div class="portlet light bordered">
    <div class="portlet-body">
      <div class="mt-element-list">
        <div class="mt-list-head list-default green-haze">
          <div class="row">
            <div class="col-xs-8">
              <div class="list-head-title-container">
                <h3 class="list-title uppercase sbold">On Going Projects</h3>
              </div>
            </div>
            <div class="col-xs-4" style="text-align: right;">
              <div id="sample_1_filter" class="dataTables_filter"><label>Search: <input type="search" placeholder=""
                                                                                        class="form-control input-sm input-small input-inline"
                                                                                        [(ngModel)]="searchString"
                                                                                        aria-controls="sample_1"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-list-container list-default">
          <div class="mt-list-title uppercase">My List
          </div>
          <ul>
            <li class="mt-list-item" *ngFor="let listData of onGoingProjectDetails| filter: searchString;">
              <div class="list-icon-container done">
                <a href="javascript:void(0)">
                  <i class="icon-check"></i>
                </a>
              </div>
              <div class="list-datetime" style="width:240px;text-align: left;"> Start Date:
                {{listData.ProjectStartDate}}
                <br> End Date: {{listData.ProjectEndDate}}
              </div>
              <div class="list-item-content">
                <h3 class="uppercase bold">
                  <a href="javascript:void(0)">{{listData.ProjectCode}}-{{listData.ProjectName}}</a>
                </h3>
                <p>{{listData.ProjectDescription}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
