<!--<wysihtml-toolbar #toolbar>
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</a>
</wysihtml-toolbar>

<wysihtml-editor [value]="'<strong>Hello</strong>'" [placeholder]="'This is a placeholder'" [toolbar]="toolbar">
</wysihtml-editor>-->

<div class="inbox">
  <div class="inbox-body" style="background-color: white;padding: 20px;">
    <div class="inbox-content" style="">
      <form class="inbox-compose form-horizontal" id="fileupload" action="#" method="POST"
            enctype="multipart/form-data">
        <div class="inbox-compose-btn" style="padding: 12px;
    background: #f0f6fa;">
          <button class="btn green">
            <i class="fa fa-check"></i>Send
          </button>
          <button class="btn default inbox-discard-btn">Discard</button>
          <button class="btn default">Draft</button>
        </div>
        <div class="inbox-form-group mail-to">
          <label class="control-label">To:</label>
          <div class="controls controls-to">
            <input type="text" class="form-control" name="to">
          </div>
        </div>
        <div class="inbox-form-group input-cc display-hide">
          <a href="javascript:;" class="close"> </a>
          <label class="control-label">Cc:</label>
          <div class="controls controls-cc">
            <input type="text" name="cc" class="form-control"></div>
        </div>
        <div class="inbox-form-group input-bcc display-hide">
          <a href="javascript:;" class="close"> </a>
          <label class="control-label">Bcc:</label>
          <div class="controls controls-bcc">
            <input type="text" name="bcc" class="form-control"></div>
        </div>
        <div class="inbox-form-group">
          <label class="control-label">Subject:</label>
          <div class="controls">
            <input type="text" class="form-control" name="subject"></div>
        </div>
        <div class="inbox-form-group">
          <ul class="wysihtml5-toolbar" style="">
            <li class="dropdown"><a class="btn default dropdown-toggle" data-toggle="dropdown" href="#"><i
              class="icon-font"></i>&nbsp;<span class="current-font">Normal text</span>&nbsp;<b
              class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" tabindex="-1"
                       href="javascript:;" unselectable="on">Normal text</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1"
                       href="javascript:;" unselectable="on">Heading 1</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1"
                       href="javascript:;" unselectable="on">Heading 2</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1"
                       href="javascript:;" unselectable="on">Heading 3</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4"
                       href="javascript:;"
                       unselectable="on">Heading 4</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5"
                       href="javascript:;"
                       unselectable="on">Heading 5</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6"
                       href="javascript:;"
                       unselectable="on">Heading 6</a></li>
              </ul>
            </li>
            <li>
              <div class="btn-group"><a class="btn default" data-wysihtml5-command="bold" title="CTRL+B"
                                        tabindex="-1" href="javascript:;" unselectable="on">Bold</a><a
                class="btn default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1"
                href="javascript:;" unselectable="on">Italic</a><a class="btn default"
                                                                   data-wysihtml5-command="underline"
                                                                   title="CTRL+U" tabindex="-1"
                                                                   href="javascript:;"
                                                                   unselectable="on">Underline</a></div>
            </li>
            <li>
              <div class="btn-group"><a class="btn default" data-wysihtml5-command="insertUnorderedList"
                                        title="Unordered list" tabindex="-1" href="javascript:;"
                                        unselectable="on"><i class="fa fa-list"></i></a><a class="btn default"
                                                                                           data-wysihtml5-command="insertOrderedList"
                                                                                           title="Ordered list"
                                                                                           tabindex="-1"
                                                                                           href="javascript:;"
                                                                                           unselectable="on"><i
                class="fa fa-th-list"></i></a><a class="btn default" data-wysihtml5-command="Outdent"
                                                 title="Outdent" tabindex="-1" href="javascript:;"
                                                 unselectable="on"><i class="fa fa-outdent"></i></a><a
                class="btn default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1"
                href="javascript:;" unselectable="on"><i class="fa fa-indent"></i></a></div>
            </li>
            <li>
              <div class="btn-group"><a class="btn default" data-wysihtml5-action="change_view"
                                        title="Edit HTML"
                                        tabindex="-1" href="javascript:;" unselectable="on"><i
                class="fa fa-pencil"></i></a></div>
            </li>
            <li>
              <div class="bootstrap-wysihtml5-insert-link-modal modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header"><a class="close" data-dismiss="modal">×</a>
                      <h3>Insert link</h3></div>
                    <div class="modal-body"><input value="http://"
                                                   class="bootstrap-wysihtml5-insert-link-url form-control input-xlarge"><label
                      style="margin-top:5px;"> <input type="checkbox"
                                                      class="bootstrap-wysihtml5-insert-link-target"
                                                      checked="">Open
                      link in new window</label></div>
                    <div class="modal-footer"><a href="#" class="btn default"
                                                 data-dismiss="modal">Cancel</a><a
                      href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a></div>
                  </div>
                </div>
              </div>
              <a class="btn default" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1"
                 href="javascript:;" unselectable="on"><i class="fa fa-share"></i></a></li>
            <li>
              <div class="bootstrap-wysihtml5-insert-image-modal modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header"><a class="close" data-dismiss="modal">×</a>
                      <h3>Insert image</h3></div>
                    <div class="modal-body"><input value="http://"
                                                   class="bootstrap-wysihtml5-insert-image-url form-control input-xlarge">
                    </div>
                    <div class="modal-footer"><a href="#" class="btn default"
                                                 data-dismiss="modal">Cancel</a><a
                      href="#" class="btn btn-primary" data-dismiss="modal">Insert image</a></div>
                  </div>
                </div>
              </div>
              <a class="btn default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1"
                 href="javascript:;" unselectable="on"><i class="fa fa-picture-o"></i></a></li>
          </ul>
          <textarea class="inbox-editor inbox-wysihtml5 form-control" name="message" rows="12"
                    style="display: none;"></textarea><input type="hidden" name="_wysihtml5_mode" value="1">
          <iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0"
                  width="0" height="0" marginwidth="0" marginheight="0"
                  style="display: block; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(147, 161, 187); border-style: solid; border-width: 1px; clear: none; float: none; margin: 0px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 6px 12px; position: static; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 831.328px; height: 242px; top: auto; left: auto; right: auto; bottom: auto;"></iframe>
        </div>
        <div class="inbox-compose-attachment">
          <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
          <span class="btn green btn-outline fileinput-button">
            <i class="fa fa-plus"></i>
            <span> Add files... </span>
            <input type="file" name="files[]" multiple=""> </span>
          <!-- The table listing the files available for upload/download -->
          <table role="presentation" class="table table-striped margin-top-10">
            <tbody class="files"></tbody>
          </table>
        </div>
        <script id="template-upload" type="text/x-tmpl"> {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="name" width="30%">
                <span>{%=file.name%}</span>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td> {% if (file.error) { %}
            <td class="error" width="20%" colspan="2">
                <span class="label label-danger">Error</span> {%=file.error%}</td> {% } else if (o.files.valid && !i) { %}
            <td>
                <p class="size">{%=o.formatFileSize(file.size)%}</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </td> {% } else { %}
            <td colspan="2"></td> {% } %}
            <td class="cancel" width="10%" align="right">{% if (!i) { %}
                <button class="btn btn-sm red cancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button> {% } %}</td>
        </tr> {% } %}









        </script>
        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl"> {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade"> {% if (file.error) { %}
            <td class="name" width="30%">
                <span>{%=file.name%}</span>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td class="error" width="30%" colspan="2">
                <span class="label label-danger">Error</span> {%=file.error%}</td> {% } else { %}
            <td class="name" width="30%">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size" width="40%">
                <span>{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td colspan="2"></td> {% } %}
            <td class="delete" width="10%" align="right">
                <button class="btn default btn-sm" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" {% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr> {% } %}









        </script>
        <div class="inbox-compose-btn">
          <button class="btn green">
            <i class="fa fa-check"></i>Send
          </button>
          <button class="btn default">Discard</button>
          <button class="btn default">Draft</button>
        </div>
        <span class="alert alert-error">Upload server currently unavailable - Mon Apr 16 2018 23:31:22 GMT+0530 (India Standard Time)</span>
      </form>
    </div>
  </div>
</div>
